@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --default-font-family: "Noto Sans", var(--font-sans);
  --animate-marquee: marquee 25s linear infinite;
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@layer base {
  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  body {
    background-color: #f9fafb;
    padding: 16px;
  }
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}
